Repository codesquad-member-2020/signup-6, pull requests merged in 2020-03, with the labels that each got.

#17 정규표현식을 활용한 ID, Password 조건 확인 객체 생성
  iOS/SignUp/InputVerifierTests/Info.plist
  iOS/SignUp/InputVerifierTests/InputVerifierTests.swift
  iOS/SignUp/SignUp.xcodeproj/project.pbxproj
  iOS/SignUp/SignUp.xcodeproj/project.xcworkspace/xcuserdata/ttozzi.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/SignUp/SignUp/View/Model/InputVerifier.swift
Labels: iOS

#23 회원가입 화면 세부기능 구현
  iOS/SignUp/InputVerifierTests/InputVerifierTests.swift
  iOS/SignUp/SignUp.xcodeproj/project.pbxproj
  iOS/SignUp/SignUp.xcodeproj/project.xcworkspace/xcuserdata/ttozzi.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/SignUp/SignUp/Base.lproj/Main.storyboard
  iOS/SignUp/SignUp/Model/InputVerifier.swift
  iOS/SignUp/SignUp/SignUp.entitlements
  iOS/SignUp/SignUp/View/InputTextField.swift
  iOS/SignUp/SignUp/View/NextButton.swift
  iOS/SignUp/SignUp/View/SignUpView.swift
  iOS/SignUp/SignUp/View/StatusMessageLabel.swift
  iOS/SignUp/SignUp/ViewController.swift
Labels: iOS

#31 회원가입 기초 설계
  BE/.gitignore
  BE/build.gradle
  BE/gradle/wrapper/gradle-wrapper.jar
  BE/gradle/wrapper/gradle-wrapper.properties
  BE/gradlew
  BE/gradlew.bat
  BE/logs/dev_log.log
  BE/settings.gradle
  BE/src/main/java/com/codesquad/signup/SignupApplication.java
  BE/src/main/java/com/codesquad/signup/api/ApiUserController.java
  BE/src/main/java/com/codesquad/signup/common/UrlStrings.java
  BE/src/main/java/com/codesquad/signup/domain/Genders.java
  BE/src/main/java/com/codesquad/signup/domain/User.java
  BE/src/main/java/com/codesquad/signup/repository/UserRepository.java
  BE/src/main/java/com/codesquad/signup/web/MainController.java
  BE/src/main/resources/application.properties
  BE/src/main/resources/data.sql
  BE/src/main/resources/schema.sql
  BE/src/test/java/com/codesquad/signup/SignupApplicationTests.java
Labels: BE

#28 뷰에 대응하는 뷰모델을 만들어 뷰의 로직을 분리
  iOS/SignUp/SignUp.xcodeproj/project.pbxproj
  iOS/SignUp/SignUp.xcodeproj/project.xcworkspace/xcuserdata/ttozzi.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/SignUp/SignUp/Base.lproj/Main.storyboard
  iOS/SignUp/SignUp/Extension/StringExtension.swift
  iOS/SignUp/SignUp/Model/InputVerifier.swift
  iOS/SignUp/SignUp/View/InputTextField.swift
  iOS/SignUp/SignUp/View/SignUpView.swift
  iOS/SignUp/SignUp/ViewController.swift
  iOS/SignUp/SignUp/ViewModel/Dynamic.swift
  iOS/SignUp/SignUp/ViewModel/IdViewModel.swift
  iOS/SignUp/SignUp/ViewModel/NameViewModel.swift
  iOS/SignUp/SignUp/ViewModel/PasswordViewModel.swift
Labels: iOS

#41 개인정보 화면 UI 구현
  iOS/SignUp/SignUp.xcodeproj/project.pbxproj
  iOS/SignUp/SignUp/Base.lproj/Main.storyboard
  iOS/SignUp/SignUp/SignUpViewController.swift
  iOS/SignUp/SignUp/View/Buttons/CustomButton.swift
  iOS/SignUp/SignUp/View/Buttons/NextButton.swift
  iOS/SignUp/SignUp/View/Buttons/PreviousButton.swift
  iOS/SignUp/SignUp/View/Segues/PopSegue.swift
  iOS/SignUp/SignUp/View/Segues/PushSegue.swift
  iOS/SignUp/SignUp/ViewModel/IdViewModel.swift
  iOS/SignUp/SignUp/ViewModel/NameViewModel.swift
  iOS/SignUp/SignUp/ViewModel/PasswordViewModel.swift
Labels: iOS

#42 아이디 실시간 중복체크 구현
  iOS/SignUp/SignUp.xcodeproj/project.pbxproj
  iOS/SignUp/SignUp/SignUpViewController.swift
  iOS/SignUp/SignUp/View/SignUpView.swift
  iOS/SignUp/SignUp/ViewModel/IdViewModel.swift
  iOS/SignUp/SignUp/ViewModel/NetworkManager.swift
Labels: iOS

#45 UI 리팩토링
  iOS/SignUp/SignUp.xcodeproj/project.pbxproj
  iOS/SignUp/SignUp/Base.lproj/Main.storyboard
  iOS/SignUp/SignUp/SignUpViewController.swift
  iOS/SignUp/SignUp/View/Buttons/CommonButton.swift
  iOS/SignUp/SignUp/View/Buttons/NextButton.swift
  iOS/SignUp/SignUp/View/Buttons/PreviousButton.swift
  iOS/SignUp/SignUp/View/Segues/PopSegue.swift
  iOS/SignUp/SignUp/View/Segues/PushSegue.swift
  iOS/SignUp/SignUp/ViewModel/IdViewModel.swift
  iOS/SignUp/SignUp/ViewModel/NameViewModel.swift
  iOS/SignUp/SignUp/ViewModel/PasswordViewModel.swift
Labels: iOS

#47 바뀐 서버 양식에 맞게 코드 수정
  iOS/SignUp/SignUp/SignUpViewController.swift
  iOS/SignUp/SignUp/ViewModel/IdViewModel.swift
  iOS/SignUp/SignUp/ViewModel/NetworkManager.swift
Labels: iOS

#52 [FE] 초기화 버튼 기능 추가
  FE/src/js/main.js
  FE/src/js/message.js
  FE/src/js/reset.js
  FE/src/js/signup.js
  FE/src/js/terms.js
Labels: FE

#53 [FE] 관심사 태그 UI 구현
  FE/src/index.html
  FE/src/js/interest.js
  FE/src/js/message.js
  FE/src/js/signup.js
  FE/src/scss/partials/form.scss
  FE/src/static/bundle.js
  FE/src/static/style.css
  FE/src/utils/template.js
  FE/src/utils/validator.js
Labels: FE

#56 [FE] console.log 삭제후 rebuild
  FE/src/static/bundle.js
  FE/src/utils/validator.js
Labels: FE

#57 [FE] Backspace 또는 Delete키 입력하여 태그 삭제하는 기능 추가
  FE/src/index.html
  FE/src/js/interest.js
  FE/src/js/reset.js
  FE/src/static/bundle.js
Labels: FE

#58 Fix: 가입하기 버튼 클릭시 form 유효성 검사 실행되지 않는 이슈 해결
  FE/src/js/signup.js
  FE/src/static/bundle.js
Labels: FE

#59 [FE] <form>의 action attribute 삭제
  FE/src/index.html
Labels: FE
